html
  head
    link(rel="stylesheet", href="/main.css")
  body
    include ./partials/includes/header
    main
      img(class="products__product", src=product.image)
      div(id="comments")
  script(src="/comments.bundle.js")