* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  color: white;
}

a {
  color: white;
}

ul {
  list-style: none;
}

.header__ul {
  display: flex;
  justify-content: space-around;
}

main {
  margin: 32px 8px 16px;
}

.main__li {
  margin: 16px 8px;
}

.products {
  width: 100%;
  list-style: none;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
}

.products__product {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  display: block;
}

.products__comments {
  margin: 32px auto 0;
  max-width: 280px;
}

.comments__input {
  display: block;
}

.comments__input,
.products__comment {
  padding: 8px;
  margin: 8px auto;
  background: white;
  color: crimson;
}
